* {
  box-sizing: border-box;
  font-family: Open Sans;
}

body {
  margin: 0;
  padding: 0;
}
// Editing a header of the website. Header is divided into two parts : top and bottom.
// Top includes logo, heading and social media.
// Bottom contains a navigation bar.
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  .top {
    padding-top: 70px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo {
      width: 150px;
      height: 150px;
      padding: 10px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  h1 {
    font-size: 70px;
    font-weight: lighter;
  }
  .hamburger {
    width: 80%;
    img {
      display: none;
    }
  }
  .social {
    width: 10%;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      li {
        margin: 0 10px;
        a img {
          width: 27px;
          height: 27px;
        }
      }
    }
  }
  .bottom {
    width: 100%;
    margin: 0 0 2rem 0;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 3rem;
      li {
        padding: 0.5rem;
        background-color: black;
        border-radius: 10px;
        width: 10%;
        text-align: center;
        &:hover {
          background-color: #e2e2e2;
        }
        a {
          text-decoration: none;
          color: white;
          text-transform: uppercase;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}
// Adding content to the HOME page
.body-back {
  background-image: url(../../images/Asset-1.png);
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    width: 70%;
    height: 20%;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin: 0;
  }
  .boxes {
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a:link {
      text-decoration: none;
      color: black;
      .box {
        width: 250px;
        height: 250px;
        background-color: white;
        border: 15px solid #e2e2e2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
      }
    }
  }
}
// Editing footer
.footer-home {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  bottom: 0px;
}

footer p {
  color: #e2e2e2;
  text-align: center;
}
footer.about-footer p {
  color: black;
}
// Working on ABOUT page
.about-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  .about-me {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      color: black;
      font-weight: lighter;
      text-transform: uppercase;
      font-size: 30px;
      height: 10%;
    }
    p {
      height: 10%;
      font-size: 20px;
      color: #626363;
      &:last-child {
        color: black;
      }
    }
  }
  .about-img {
    width: 25%;
    img {
      width: 100%;
      padding-top: 20%;
    }
  }
}

footer.photo-footer p {
  color: black;
}

footer.ux-footer p {
  color: black;
}

footer.contact-footer p {
  color: black;
}
// Organizing PHOTO page
.photo-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  .photos {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    .heading h1 {
      font-weight: lighter;
      font-size: 30px;
    }
    .images img {
      margin: 1.5rem;
    }
  }
}
// Working on UX page
.ux-main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  .heading-ux {
    h1 {
      font-size: 30px;
      font-weight: lighter;
    }
  }
  .holders {
    width: 50%;
    margin: 2rem 0;
    &:last-child {
      margin-top: 0;
    }
    img {
      width: 100%;
    }
    p {
      text-align: center;
      font-weight: lighter;
    }
  }
}
// Working on CONTACT page
// Editing contact form
.main-contact {
  width: 100%;
  margin: 2rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .contact-heading {
    margin-bottom: 1rem;
    h1 {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: lighter;
    }
  }
  .contact-content {
    width: 100%;
    height: 525px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    overflow: hidden;
    .contact-image {
      width: 60%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .container-form {
      width: 40%;
      background-color: black;
      color: white;
      form {
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        fieldset {
          width: 100%;
          border: none;
          label {
            display: block;
            width: 80%;
            margin: 0 auto;
            border-radius: 5px;
          }
          input[type='text'],
          textarea {
            display: block;
            width: 80%;
            margin: 0.5rem auto;
            padding: 0.5rem;
            border-radius: 5px;
          }
          button {
            display: block;
            width: 40%;
            margin: 0.5rem auto;
            padding: 1rem;
            border-radius: 5px;
            font-size: 17px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
// Working on mobile view
@media all and (max-width: 60rem) {
  header {
    width: 100%;
    height: auto;
    .social {
      width: 40%;
      margin: 0 auto;
      ul {
        padding: 0;
      }
    }
    .top {
      height: 50%;
      flex-direction: column;
      .logo {
        width: 180px;
        height: 180px;
        img {
          width: 100%;
        }
      }
      h1 {
        font-size: 2.5rem;
      }
    }
    .hamburger {
      width: 100%;
      padding: 1rem 0 0.5rem 0;
      &:hover {
        .bottom {
          display: block;
        }
      }
      img {
        display: block;
        margin: 0 auto;
      }
      .bottom {
        width: 100%;
        display: none;
        ul {
          width: 100%;
          padding-left: 0;
          li {
            width: calc(100% / 5 - 2px);
            margin: 0 2px;
          }
        }
      }
    }
  }
  .body-back {
    width: 100vw;
    height: 100vh;
    margin: 1rem 0 0 0;
    padding: 0;
    h1 {
      font-size: 2.5rem;
      width: 100%;
      height: 0;
      padding: 1rem 0;
    }
    .boxes {
      flex-direction: column;
      width: 100%;
      height: 90%;
      margin: 0 auto;
      .box {
        width: 500px;
        height: 500px;
      }
    }
  }

  .footer-home {
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
