* {
  box-sizing: border-box;
  font-family: Open Sans;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

header .top {
  padding-top: 70px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top .logo {
  width: 150px;
  height: 150px;
  padding: 10px;
}

.logo img {
  width: 100%;
  height: 100%;
}

header h1 {
  font-size: 70px;
  font-weight: lighter;
}

header .social {
  width: 10%;
}

.social ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social ul li {
  margin: 0 10px;
}

.social a img {
  width: 27px;
  height: 27px;
}

.bottom {
  width: 80%;
  margin: 2.5rem 2.5rem 1rem 2.5rem;
}

.bottom ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottom ul li {
  padding: 0.5rem;
  background-color: black;
  border-radius: 10px;
  width: 10%;
  text-align: center;
}

.bottom ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.body-back {
  background-image: url(../../images/Asset-1.png);
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.body-back h1 {
  width: 70%;
  height: 20%;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.body-back .boxes {
  width: 70%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.body-back .boxes .box {
  width: 250px;
  height: 250px;
  background-color: white;
  border: 15px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  bottom: 0px;
}

footer p {
  color: #e2e2e2;
  text-align: center;
}
footer.about-footer p {
  color: black;
}

.about-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.about-me {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-img {
  width: 25%;
}

.about-img img {
  width: 100%;
  padding-top: 20%;
}
.about-me h1 {
  color: black;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 35px;
  height: 10%;
}
.about-me p {
  height: 10%;
  font-size: 20px;
  color: #626363;
}

.about-me p:last-child {
  color: black;
}

footer.photo-footer p {
  color: black;
}

footer.ux-footer p {
  color: black;
}

footer.contact-footer p {
  color: #e2e2e2;
}

.photo-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.photo-main .photos {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.photos .heading h1 {
  font-weight: lighter;
  font-size: 30px;
}

.images img {
  margin: 1.5rem;
}
